:root{
    --gray-50: #fafafa;
    --gray-100: #f3f2f2;
    --gray-200: #e7e4e6;
    --gray-300: #cfc9cc;
    --gray-400: #b6afb3;
    --gray-500: #867980;
    --gray-600: #6b6167;
    --gray-700: #50494d;
    --gray-800: #363033;
    --gray-900: #1b181a;

    --primary-50: #ffffff; 
    --primary-100: #ffffff; 
    --primary-200: #fff6ff; 
    --primary-300: #ffdcff; 
    --primary-400: #ffc3f4; 
    --primary-500: #ffaada; 
    --primary-600: #e592c1; 
    --primary-700: #cb7aa8; 
    --primary-800: #b16291; 
    --primary-900: #984c79; 
    --primary-950: #421a32;

    --accent-50: #fdfaf7;
    --accent-100: #FFF8F2;
    --accent-200: #FEDFC9;
    --accent-300: #FBBF9E;
    --accent-400: #F19771;
    --accent-500: #DE6845;
    --accent-600: #B03B22;
    --accent-700: #821F12;
    --accent-800: #540E0A;
    --accent-900: #260404;
    --accent-950: #220303;

    --main-gradient: linear-gradient(var(--primary-100), var(--primary-200));
    --card-gradient: linear-gradient(var(--primary-300), var(--primary-400) 50%)
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: var(--main-gradient);
    font-family: "Source Sans 3", serif;
    position: relative;
}
header{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 5rem;
    align-items: center;
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
    background-color: var(--primary-200);
    z-index: 100;
}
h1,h2,h3,h4,h5{
    font-weight: 700;
    font-family: "Source Sans 3", serif;
    margin: 0;
}
html{
    font-size: 100%;
}
h1 {
    font-size: 3rem;
    color: var(--gray-900); 
}
h2{
    font-size: 2rem;
    color: var(--gray-800);
}
h3{
    font-size: 1.45rem; 
    color: var(--gray-800);
}
h4{
    font-size: 1.25rem; 
    color: var(--gray-700);
}
h5{
    font-size: 1.125rem; 
}
small{
    font-size: 0.750rem;
}
p{
    margin: 0;
    color: var(--gray-900);
}
a{
    color: var(--primary-500);
}
ul{
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input{
    height: 48px;
    padding: 1rem;
    box-sizing: border-box;
    font-family: "Source Sans 3", serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: .25rem;
}
input[type="email"]{
    margin: .25rem 0rem 1rem 0rem;
}
button{
    font-family: "Source Sans 3", serif;
    display: flex;
    padding: .5rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: .25rem;
    height: 48px;
    align-items: center;
    justify-content: center;
}
button.primary{
    background: linear-gradient(0deg, var(--primary-800), var(--primary-700));
    color: var(--gray-100);
    transition: all 200ms ease-in;
}
button.primary:hover, button.primary:active{
    background: linear-gradient(15deg, var(--primary-700), var(--primary-600));
    color: var(--gray-50);
}
button.secondary{
    background: var(--gray-800);
    color: var(--gray-200);
    transition: all 200ms ease-in;
}
button.secondary:hover, button.secondary:active{
    background: var(--gray-700);
    color: var(--gray-100);
}
button.outline{
    background: transparent;
    outline: 2px solid var(--primary-600);
    color: var(--primary-600);
    transition: all 200ms ease-in;
}
button.outline:hover, button.outline:active{
    background: var(--primary-600);
    outline: 2px solid var(--primary-600);
    color: var(--gray-50);
}
section, footer{
    padding: 2rem 10%;
    position: relative;
}
nav{
    display: flex;
    gap: 3rem;
}
img{
    max-width: 700px;
}
.blob {
    position: absolute;
    width: 200px;
    height: 200px;
    filter: blur(100px);
    transform-origin: center;
    z-index: -1;
    background-color: var(--primary-200);
    pointer-events: none;
  }
.categories{
    display: flex;
    gap: .5rem;
}
.dropdown{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_toggle{
    font-size: 1rem;
    font-weight: 700;
    padding: .5rem 2rem;
    background-color: transparent;
    color: var(--gray-700);
    position: relative;
    text-align: center;
    width: 100%;
    text-wrap: nowrap;
}
.dropdown_toggle::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    border-radius: 4px;
    left: 0;
    top: calc(100% - 4px);
    background-color: var(--primary-700);
    transition: all 300ms ease-in;
}
.dropdown_toggle:hover::after{
    width: 100%;
}
.dropdown_menu{
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% - 1rem);
    background-color: var(--gray-800);
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    width: max-content;
    padding: .5rem 0rem;
    gap: .5rem;
    & a{
        text-decoration: none;
        color: var(--gray-100);
        width: 100%;
        display: inline-block;
    }
}
.dropdown_item{
    padding: 1rem 2rem;
    transition: all 200ms ease-in;
}
.dropdown_item:hover{
    background: var(--gray-700);
}
.button_container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.button_container#hero_buttons{
    justify-content: left;
    margin-top: 1.5rem;
}
.button_container#card{
    justify-content: left;
    & button{
        width: 100%;
        justify-content: center;
    }
}
.button_container#section{
    justify-content: left;
    & button{
        width: 240px;
        justify-content: center;
    }
}
.background_elements {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .35;
    z-index: -1;
    transform: rotate(45deg) translateX(15%);
}

.dna_strand {
    width: 240px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem 0rem;
}

.circle_molecule {
    min-width: 48px;
    height: 48px;
    background: var(--primary-400);
    border-radius: 64px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.wrapper {
    position: relative;
    display: block;
}

.wrapper.left {
    animation: moveRight 8s infinite linear;
}

.wrapper.right {
    animation: moveLeft 8s infinite linear;
}

.molecule_strand {
    animation: shrinkGrow 8s infinite ease-in-out;
    height: 16px;
    outline: 2px solid var(--primary-400);
    z-index: -1;
    width: 110%;
    position: relative;
}

.circle_molecule.left {
    animation: scaleRight 8s infinite ease-in-out;
}

.circle_molecule.right {
    animation: scaleLeft 8s infinite ease-in-out;
}

@keyframes shrinkGrow {
    0% { transform: scaleX(1); }
    25% { transform: scaleX(0); }
    50% { transform: scaleX(1); }
    75% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
}

@keyframes moveRight {
    0% { transform: translateX(0); }
    50% { transform: translateX(190px); }
    100% { transform: translateX(0); }
}

@keyframes moveLeft {
    0% { transform: translateX(0); }
    50% { transform: translateX(-190px); }
    100% { transform: translateX(0); }
}

@keyframes scaleRight {
    0% { transform: scale(1);}
    25% { transform: scale(1.5);}
    50% { transform: scale(1);}
    75% { transform: scale(0.5);}
    100% { transform: scale(1);}
}

@keyframes scaleLeft {
    0% { transform: scale(1);}
    25% { transform: scale(0.5);}
    50% { transform: scale(1);}
    75% { transform: scale(1.5);}
    100% { transform: scale(1);}
}
.hero_elements{
    display: flex;
    gap: 2rem;
}
.product_features_container_hero{
    max-height: 600px;
    & img{
        height: 100%;
    }
}
.hero_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    padding: 1.5rem;
}
.section_container{
    display: flex;
    justify-content: space-between;   
    align-items: center;
    gap: 2rem;
}
.section_container.column{
    flex-direction: column;
    align-items: start;
}
.section_header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem 0rem;
    & *{
        margin: 0;
    }
}
.section_header.button{
    flex-direction: row;
    justify-content: space-between;
}
.section_grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 1rem;
    width: 100%;
}
.product_card{
    border-radius: .25rem;
    overflow: hidden;
    outline: 2px solid var(--primary-200);
    position: relative;
    height: max-content;
    & .card_img{
        max-width: 100%;
        height: 60%;
        overflow: hidden;
    }
    transition: all 300ms ease-in;
}
.card_thumbnail{
    height: 200px;
    width: 100%;
    object-fit: contain;
    transition: all 300ms ease-in;
}
.card_thumbnail:hover{
    transform: scale(1.15);
}
.product_card:hover{
    outline: 2px solid var(--primary-400);
}
.card_bottom{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    padding: 1.5rem 1rem;
}
.card_text{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    & * {
        margin: 0;
    }
    & h3{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        height: 1.75rem;
    }
}
.price_container{
    display: flex;
    gap: .5rem;
    & .original_price{
        text-decoration: line-through;
        font-size: .75rem;
        color: var(--gray-600);
    }
    & .sales_price{
        color: var(--accent-500);
        font-weight: 600;
    }
}
.section_stats{
    display: grid;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
    gap: 2rem;
    place-items: center;
    padding: 0rem 10rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
}
.stat_container{
    background: var(--card-gradient);
    box-sizing: border-box;
    padding: 2rem 1.75rem;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    & > *{
        text-align: center;
    }
    & svg{
        width: 100%;
        max-width: 180px;
        max-height: 180px;
    }
}
.section_reviews{
    display: grid;
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    gap: 2rem;
}
.review_container{
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    background-color: var(--primary-100);
    box-shadow: 2px 2px 4px var(--primary-300);
    border-radius: .25rem;
    opacity: 0;
}
.review_container[data-animated = true]{
    animation: fadeUp 1000ms ease-out forwards;
}
@keyframes fadeUp {
    0%{
        transform: translateY(300px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
.review_profile_img{
    min-width: 48px;
    max-width: 48px;
    height: 48px;
    border-radius: 4rem;
    object-fit: cover;
}
.review_text_bottom{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: .75rem;
    
    & .review_date{
        font-weight: 400;
        color: var(--gray-500);
        margin: 0;
    }
    & .review_rating{
        font-size: 1.25rem;
        font-weight: 600;
        margin: 0;
    }
}
footer{
    display: flex;
    flex-direction: column;
    background: var(--primary-100);
    margin-top: 3rem;
    padding: 4rem 10%;
}
.footer_top{
    display: flex;
    padding-bottom: 1rem;
}
.footer_topleft{
    display: flex;
    width: 30%;
}
.topleft_header{
    display: flex;
    flex-direction: column;
    gap: 1rem
}
.topleft_input_field{
    display: flex;
    flex-direction: column;
}
.footer_topright{
    display: flex;
    gap: 4rem;
    width: 70%;
    justify-content: right;
}
.disclaimer_text{
    font-size: .75rem;
    font-weight: 600;
    margin-top: 1rem;
}
.social_media_links{
    padding: 1rem 0rem;
    display: flex;
    gap: .5rem;
}
.footer_middle{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0rem;
    border-top: 2px solid var(--gray-600); border-bottom:  2px solid var(--gray-600);
    & .middle_links{
        display: flex;
        gap: 1rem;
    }
}
.footer_bottom{
    display: flex;
    justify-content: center;
    padding: 1rem .25rem;
}