:root{
    --gray-50: #fcfcfd; 
    --gray-100: #f1f3f6; 
    --gray-200: #e0e4ea; 
    --gray-300: #c8ced9; 
    --gray-400: #a8b3c4; 
    --gray-500: #8292aa; 
    --gray-600: #5b6b86; 
    --gray-700: #384252; 
    --gray-800: #242b35; 
    --gray-900: #191d24; 
    --gray-950: #15181e;

    --primary-50: #fbfcff; 
    --primary-100: #f0f4fd; 
    --primary-200: #dee6fb; 
    --primary-300: #c5d2f7; 
    --primary-400: #a4b9f3; 
    --primary-500: #7c9aed; 
    --primary-600: #4c75e7; 
    --primary-700: #1d4fd7; 
    --primary-800: #102c79; 
    --primary-900: #091740; 
    --primary-950: #06102d;

    --accent-50: #fdfaf7;
    --accent-100: #FFF8F2;
    --accent-200: #FEDFC9;
    --accent-300: #FBBF9E;
    --accent-400: #F19771;
    --accent-500: #DE6845;
    --accent-600: #B03B22;
    --accent-700: #821F12;
    --accent-800: #540E0A;
    --accent-900: #260404;
    --accent-950: #220303;

    --main-gradient: linear-gradient(var(--gray-950), #07080a 20%);
    --card-gradient: linear-gradient(var(--gray-800), var(--gray-900) 50%)
}
body{
    margin: 0;
    padding: 0;
    background: var(--main-gradient);
    font-family: "Source Sans 3", serif;
    color: var(--gray-50);
    position: relative;
}
header{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 5rem;
    align-items: center;
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
    background-color: rgba(21, 24, 30, 0.4);
}
h1,h2,h3,h4,h5{
    font-weight: 700;
    font-family: "Source Sans 3", serif;
    margin: 0;
}
html{
    font-size: 100%;
}
h1 {
    font-size: 3rem; 
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.45rem; 
}
h4{
    font-size: 1.25rem; 
}
h5{
    font-size: 1.125rem; 
}
small{
    font-size: 0.750rem;
}
p{
    margin: 0;
}
button{
    font-family: "Source Sans 3", serif;
    display: flex;
    padding: .5rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: .25rem;
    height: 48px;
    align-items: center;
}
button.primary{
    background: linear-gradient(0deg, var(--primary-800), var(--primary-700));
    color: var(--gray-100);
    box-shadow: 0px -4px 8px var(--primary-800);

    transition: all 200ms ease-in;
}
button.primary:hover, button.primary:active{
    background: linear-gradient(15deg, var(--primary-700), var(--primary-600));
    box-shadow: 0px 4px 16px var(--primary-700);
}
button.secondary{
    background: var(--gray-800);
    color: var(--gray-200);
    transition: all 200ms ease-in;
}
button.secondary:hover, button.secondary:active{
    background: var(--gray-700);
    color: var(--gray-100);
}
button.outline{
    background: transparent;
    outline: 2px solid var(--gray-500);
    color: var(--gray-500);
    transition: all 200ms ease-in;
}
button.outline:hover, button.outline:active{
    background: var(--gray-500);
    outline: 2px solid var(--gray-700);
    color: var(--gray-950);
}
section, footer{
    padding: 2rem 10%;
}
nav{
    display: flex;
    gap: 3rem;
}
.blob{
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: blur(40px);
}
.categories{
    display: flex;
    gap: .5rem;
}
.dropdown{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_toggle{
    font-size: 1rem;
    font-weight: 700;
    padding: .5rem 2rem;
    background-color: transparent;
    color: var(--gray-100);
    position: relative;
    text-align: center;
    width: 100%;
    text-wrap: nowrap;
}
.dropdown_toggle::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    border-radius: 4px;
    left: 0;
    top: calc(100% - 4px);
    background-color: var(--gray-500);
    transition: all 300ms ease-in;
}
.dropdown_toggle:hover::after{
    width: 100%;
}
.dropdown_menu{
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% - 1rem);
    background-color: var(--gray-800);
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    width: max-content;
    padding: .5rem 0rem;
    gap: .5rem;
    & a{
        text-decoration: none;
        color: var(--gray-100);
        width: 100%;
        display: inline-block;
    }
}
.dropdown_item{
    padding: 1rem 2rem;
    transition: all 200ms ease-in;
}
.dropdown_item:hover{
    background: var(--gray-700);
}
.button_container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.button_container#hero_buttons{
    justify-content: left;
    margin-top: 1.5rem;
}
.button_container#card{
    justify-content: left;
    & button{
        width: 100%;
        justify-content: center;
    }
}
.button_container#section{
    justify-content: left;
    & button{
        width: 240px;
        justify-content: center;
    }
}
.hero_elements{
    display: flex;
    gap: 2rem;
}
.hero_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    padding: 1.5rem;
}
.section_container{
    display: flex;
    justify-content: space-between;   
    align-items: center;
    gap: 2rem;
}
.section_container.column{
    flex-direction: column;
    align-items: start;
}
.section_header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem 0rem;
    & *{
        margin: 0;
    }
}
.section_header.button{
    flex-direction: row;
    justify-content: space-between;
}
.section_grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 1rem;
}
.product_card{
    background: var(--card-gradient);
    border-radius: .25rem;
    overflow: hidden;
    & .card_img{
        max-width: 100%;
    }
}
.card_thumbnail{
    width: 100%;
}
.card_bottom{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    padding: 1.5rem 1rem;
}
.card_text{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    & * {
        margin: 0;
    }
}
.section_stats{
    display: grid;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
    gap: 4rem;
    place-items: center;
    padding: 0rem 10rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
}
.stat_container{
    background: var(--card-gradient);
    box-sizing: border-box;
    padding: 2rem 1.75rem;
    border-radius: .25rem;
    & img{
        width: 100%;
    }
}
.section_reviews{
    display: grid;
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    gap: 2rem;
}
.review_container{
    display: flex;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--gray-800);
    border-radius: .25rem;
}
.review_profile_img{
    max-width: 48px;
    max-height: 48px;
    border-radius: 4rem;
}
.review_text_bottom{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: .75rem;
    
    & .review_date{
        font-weight: 400;
        color: var(--gray-500);
        margin: 0;
    }
    & .review_rating{
        font-size: 1.25rem;
        font-weight: 600;
        margin: 0;
    }
}